<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Selenium Easy">
    <test name="Demo Test">
        <classes>
            <class name="lt.aleksandras.f_1.pom.tests.F_1PageMainTest"/>
            <class name="lt.aleksandras.f_1.pom.tests.F_1SpelioneSpejimai26Test"/>
        </classes>
    </test>
</suite>